---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - iov.cloupeer.io
  resources:
  - vehiclecommands
  - vehicles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iov.cloupeer.io
  resources:
  - vehiclecommands/finalizers
  - vehicles/finalizers
  verbs:
  - update
- apiGroups:
  - iov.cloupeer.io
  resources:
  - vehiclecommands/status
  - vehicles/status
  verbs:
  - get
  - patch
  - update
